@using SSM.Models;
<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<style>
    @@font-face {
        font-family: 'Roboto-Light';
        src: url("../../fonts/Roboto-Light.ttf") format('truetype');
    }

    @@font-face {
        font-family: 'Roboto-Black';
        src: url("../../fonts/Roboto-Black.ttf") format('truetype');
    }
</style>
<script>

    tinymce.init({
        selector: 'textarea#editable',
        height: 500,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: '//www.tinymce.com/css/codepen.min.css'
    });
    tinymce.execCommand('mceRemoveControl', true, 'editable');
    var n = 25;
    var currentContainer = null;
    function allowDrop(ev) {
        ev.preventDefault();

        $(ev.target).css('background-color', '#d3d3d3');
    }

    function drag(ev) {

        ev.dataTransfer.setData("DroperID", ev.target.id);

    }
    function removeStyle(ev) {
        $(ev.target).css('background-color', '#ffffff');
    }
    function drop(ev) {
        n = n + 1;
        ev.preventDefault();
        var parrent;
        var flag = false;
        var data = ev.dataTransfer.getData("DroperID");
        if ($("#" + data).parent().attr('class') == "templateContainer") {
            var clon
            $("#" + data).clone().prop("id", "img" + n).appendTo($("#" + data).parent());

        }
        else {
            parrent = document.getElementById(data).parentElement;
            flag = true;

        }
        ev.target.style.backgroundColor = "#ffffff";
        ev.target.innerHTML = "";
        alert(document.getElementById(data));
        alert(" ev.target" + ev.target);
        ev.target.appendChild(document.getElementById(data));

        ev.target.appendChild(linebreak);
        if (flag) {
            parrent.innerHTML = "";
        }
    }


</script>
<h1> <font style="font-family:Roboto-Light"> New plan for product MS365-001</font> </h1>
<h3> <font style="font-family:Roboto-Light"> Date: 9/18/2016   Creator: Vũ Huỳnh Nguyên Nhật</font> </h3>

<div class="row">
    <div class="col-sm-3">
        <div class="panel-thumbnail">
            <table width="100%" height="575px" style="border: 1px solid #ddd;">
                <tr style="border: 1px solid #ddd;"> <td colspan="2" style="background:#2FC7F7" align="center"><font size="10" style="font-family:Roboto-Light">Plan description</font></td></tr>
                <tr style="border: 1px solid #ddd;"><td align="left">Total duration</td><td align="right">2 months</td></tr>
                <tr style="border: 1px solid #ddd;"><td align="left">Apply to customer</td><td align="right">All</td></tr>
                <tr style="border: 1px solid #ddd;"><td align="left">Description</td><td align="right"> <textarea></textarea> </td></tr>
                <tr style="border: 1px solid #ddd;"><td align="left">Method </td><td align="right">Mail/SSM</td></tr>
            </table>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel">
            <table width="100%">
                <tr>
                    <td align="center" width="5%" height="200px">
                        <img width="50px" src="~/Content/play-icon.png" />
                    </td>
                    <td style="border: 1px solid #eee;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)" height="100dp" width="25%" align="center">1</td>
                    <td align="center" width="10%">
                        <img width="50dp" src="~/Content/flat-right-arrow-line-theme-action-icon.png" />
                    <td style="border: 1px solid #eee;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)" height="100dp" width="25%" align="center">2</td>
                    <td align="center" width="10%">
                        <img width="50dp" src="~/Content/flat-right-arrow-line-theme-action-icon.png" />
                    </td>
                    <td style="border: 1px solid #eee;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)" height="100dp" width="25%" align="center">3</td>
                </tr>
                <tr>
                    <td align="center" width="10%" height="200px">
                        <img width="50dp" src="~/Content/flat-right-arrow-line-theme-action-icon.png" />
                    </td>
                    <td style="border: 1px solid #eee;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)" height="100dp" width="25%" align="center">1</td>
                    <td align="center" width="10%">
                        <img width="50dp" src="~/Content/flat-right-arrow-line-theme-action-icon.png" />
                    </td>
                    <td style="border: 1px solid #eee;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)" height="100dp" width="25%" align="center">2</td>
                    <td align="center" width="10%">
                        <img width="50dp" src="~/Content/flat-right-arrow-line-theme-action-icon.png" />
                    </td>
                    <td style="border: 1px solid #eee;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)" height="100dp" width="25%" align="center">3</td>
                </tr>
                <tr>
                    <td align="center" width="10%" height="200px">
                        <img width="50dp" src="~/Content/flat-right-arrow-line-theme-action-icon.png" />
                    </td>
                    <td style="border: 1px solid #eee;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)" height="100dp" width="25%" align="center">1</td>
                    <td align="center" width="10%">
                        <img width="50dp" src="~/Content/flat-right-arrow-line-theme-action-icon.png" />
                    </td>
                    <td style="border: 1px solid #eee;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)" height="100dp" width="25%" align="center">2</td>
                    <td align="center" width="10%">
                        <img width="50dp" src="~/Content/flat-right-arrow-line-theme-action-icon.png" />
                    </td>
                    <td style="border: 1px solid #eee;" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)" height="100dp" width="25%" align="center">3</td>
                </tr>
            </table>
        </div>
    </div>
</div>



<div class="panel">
    <table width="100%">
        <tr>
            @foreach (EMAIL_Category cate in (List<EMAIL_Category>)ViewData["MailCate"])
            {
            <th align="center" height="75dp" style="background-color:@cate.color">
                <font style="font-family:Roboto-Light ; color:white;" size="6">@cate.Name</font>
            </th>
            }

        </tr>
        <tr>
            @foreach (EMAIL_Category cate in (List<EMAIL_Category>)ViewData["MailCate"])
            {
            <td align="center" class="templateContainer" width="20%">
                <div class="pre-scrollable" style="max-height:300px">
                    @foreach (Email_Template et in cate.Email_Template.ToList())
                    {
                        <div class="templateContainer" >
                          <button  class="btn btn-info btn-lg" id="@("btn" +et.id)" draggable="true" ondragstart="drag(event)" data-toggle="modal" data-target="#myModal" type="button" >@et.Name</button> 
                          <br/>

                        </div>
                    }
                </div>
            </td>
            }

          

        </tr>
    </table>

</div>
<div class="container">
    <button style="display:none" id="btnBase" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Edit</button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Template: Intro mail No.1</h4>
                </div>
                <div class="modal-body">
                    <textarea id="editable"></textarea>
                    <label> Days from last Step</label> <input type="text" />
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="aaaa()" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <script>

                </script>
            </div>
        </div>
    </div>
</div>
<script>
    function aaaa() {
        var x = document.getElementById("editable_ifr").contentWindow.document.body.innerHTML;

        alert(x);
        tinymce.execCommand('mceRemoveControl', true, 'editable');
    }
</script>
