
<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="//code.jquery.com/jquery-1.12.3.js"> </script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"> </script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"> </script>
<style type="text/css">
    @@font-face {
        font-family: 'Roboto-Light';
        src: url("../../fonts/Roboto-Light.ttf") format('truetype');
    }

    @@font-face {
        font-family: 'Roboto-Black';
        src: url("../../fonts/Roboto-Black.ttf") format('truetype');
    }
</style>


<h1> <font style="font-family:Roboto-Light"> Deal Management</font> </h1>
<div style="background-color:#EEF2F4" class="header">
    <ul class="nav nav-tabs nav-justified">
        <li><a href="/Task/">Activities</a></li>
        <li><a>Contact</a></li>
        <li class="active"><a href="/Order/">Deals</a></li>
        <li><a href="#">Reports</a></li>
    </ul>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">All deals</a></li>
    <li><a data-toggle="tab" href="#menu1">Processing deals</a></li>
    <li><a data-toggle="tab" href="#menu2">Payment pending deals</a></li>
    <li><a data-toggle="tab" href="#menu3">Completed deals</a></li>
</ul>

<div class="tab-content">

    <div id="home" class="tab-pane fade in active">
        <ul class="nav nav-pills">
            <li class="active">
                <a data-toggle="tab" href="#menu1a">Orders</a>
            </li>
            <li>
                <a data-toggle="tab" href="#menu1b">Statistic </a>
            </li>
        </ul>
        <button>Add new orders</button>
        <div class="container">

            <div class="tab-content">
                <div id="menu1a" class="tab-pane fade in active">
          

                </div>
                <div id="menu1b" class="tab-pane fade">
                    <h3>Statistic</h3>
                    <table width="100%">
                        <tr>
                            <td class="bx-filter-main-table-cell">
                                cho này de filter
                            </td>
                        </tr>
                        <tr>
                            <td align="center" height="50px" style="background-color: #50C5D3" colspan="2">
                                <p style="background-color:rgba(0, 0, 0, 0.2);">
                                    <font style="font-family:'Roboto-Black';color:white">NEW ORDER WAITING</font>
                                </p>
                                <p> <font style="color:white;" size="50">20</font></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" rowspan="2" align="center">
                                <img src="https://www.mostaccess.com/img/chart.png" />
                            </td>
                            <td align="center" height="150px" style="background-color:#F7D622">
                                <div style="background-color:rgba(0, 0, 0, 0.2);margin-top:0px"> <font style="font-family:'Roboto-Black';color:white">Order in process</font> </div>
                                <div> <font style="color:white;" size="50">25</font></div>
                            </td>
                        </tr>
                        <tr>

                            <td height="150px" align="center" style="background-color:#05D215">
                                <p style="background-color:rgba(0, 0, 0, 0.2);"> <font style="font-family:'Roboto-Black';color:white">Completed Order </font> </p>
                                <p> <font style="color:white;" size="50">$500,000</font></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>

        <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#datatableExaple').DataTable();
        });
    </script>
